# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/selfupdatectl/selfupdatectl
cmd/example/example
internal/binarydist/test.*

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# IDEs
.idea/

